<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p>Hello Welcome to the Main Page!</p>
    <p></p>
    <p>Name: Nikita Thomas</p>
    <img src="static/images/picture.jpeg" width=200 height=250>
    <p>Current Grade: Freshman</p>
    <p>Intended Major: Computer Science</p>
    <p></p>
    <p></p>
    <a href="/assignmets">See All the Python Assignments</a>
    <p></p>
    <a href="/classes">See All the Classes I've Taken This Semester</a>
    <p></p>
    <a href="https://www.todoist.com">Visit my Favorite Website!</a>
    </body>
</html>

